/target/
/*.json
!/package.json
!/package-lock.json
[Vv]erifier.sol
/circuit.json
/witness.json
/circuit.cpp
/circuit.r1cs
/circuit.sym
/circuit.wasm
/circuit.wat
/params.bin
/node_modules
/trash
keys/setup/*key
